* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: Adelaide;
    height: 100vh;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* navigation */
header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background: #555;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

/* main content - common */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 10rem;
    overflow-y: auto;
    height: 100%;
}

h1 {
    margin-bottom: 1rem;
}

h2,
h3 {
    text-align: center;
}

img {
    width: 400px;
    max-width: 100%;
    height: auto;
    margin: 1rem;
}

main ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
}

iframe {
    width: 400px;
    max-width: 100%;
    height: 240px;
    max-height: 100%;
    border: none;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Home page */
.home-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-image {
    width: 1200px;
}

/* Discography page */
.discography-albums-subtitle,
.discography-films-subtitle {
    margin-bottom: 40px;
}

.discography-albums,
.discography-films {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.discography-albums-grid,
.discography-films-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.discography-list {
    list-style: none;
    align-items: center;
}

.discography-content a {
    display: flex;
    align-items: center;
    color: #b43807;
}

.discography-content a:hover {
    color: #800000;
}

.discography-content li {
    padding: 10px
}

.discography-image {
    width: 360px;
    height: 360px;
}

.discography-image-3x2 {
    width: 360px;
    height: 240px;
}

.discography-image-2x3 {
    width: 360px;
    height: 480px;
}

/* recording pages */
.recording-back-button {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #b43807;
    margin-bottom: 60px;
}

.recording-back-button:hover {
    color: #800000;
}

.recording-content {
    padding: 100px 100px 0;
    display: flex;
    flex-direction: column;
}

.recording h1 {
    font-size: 48px;
    margin-bottom: 0;
}

.recording-image-and-description {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.recording-image {
    min-width: 360px;
    width: 40%;
    height: auto;
    max-height: 560px;
    object-fit: contain;
    margin: 0;
}

.recording-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recording-artist {
    color: #b43807;
    text-align: left;
}

.recording-award {
    margin-top: 40px;
}

.recording-quote {
    margin-top: 20px;
    font-size: 18px;
}

.recording-watch {
    margin-top: auto;
    color: #b43807;
}

.recording-watch-2 {
    color: #b43807;
}

.recording-watch a:visited,
.recording-watch a:link,
.recording-watch-2 a:visited,
.recording-watch-2 a:link {
    color: inherit;
}

.recording-watch a:hover,
.recording-watch-2 a:hover {
    color: #800000;
}


/* Media page */
.media-content a {
    color: #b43807;
}

.media-content a:hover {
    color: #800000;
}

.media-audio-subtitle,
.media-video-subtitle {
    margin-bottom: 10px;
}

.media-audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.media-audio-caption {
    padding: 10px;
}

.media-video-grid {
    max-width: 1500px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 1rem;
}

/* Teaching page */
.teaching-content {
    /*margin-top: 100px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teaching-content h3 {
    margin-right: auto;
}

.teaching-image {
    width: 520px;
    height: 346px;
}

.teaching-section {
    margin-right: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

.teaching-lists {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.teaching-subtitle {
    margin-bottom: 20px;
}

.teaching-50ftf-link {
    color: #b43807;
}

.teaching-50ftf-link:hover {
    color: #800000;
}

/* About page */
/*.about-content {*/
/*    margin-top: 40px;*/
/*    max-width: 1000px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.about-content {
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-image-and-bio {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.about-bio {
    text-align: justify;
    margin-bottom: 20px;
}

.about-image {
    width: 457px;
    height: 603px;
}

.about-links {
    display: flex;
    gap: 100px;
}

.about-link {
    color: #b43807;
}

.about-link:hover {
    color: #800000;
}

/*@media (max-width: 768px) {*/
/*    .about-image {*/
/*        float: none;*/
/*        display: block;*/
/*        margin: 1rem auto;*/
/*        text-align: center;*/
/*    }*/
/*}*/

/* Awards page */
.awards-main {
    padding: 20px 100px 120px 100px;
    display: flex;
    flex-direction: column;
}

.awards-back-button {
    position: absolute;
    left: 100px;
    /*margin-right: auto;*/
    display: flex;
    align-items: center;
    gap: 4px;
    color: #b43807;
    margin-bottom: 60px;
}

.awards-back-button:hover {
    color: #800000;
}

.awards-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.awards-subtitle,
.award {
    padding: 1rem;
}

/* Press page */
.press-main {
    padding: 20px 100px 120px 100px;
    display: flex;
    flex-direction: column;
}

.press-back-button {
    position: absolute;
    left: 100px;
    /*margin-right: auto;*/
    display: flex;
    align-items: center;
    gap: 4px;
    color: #b43807;
    margin-bottom: 60px;
}

.press-back-button:hover {
    color: #800000;
}

.press-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.press-subtitle,
.article {
    padding: 1rem;
}

