* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    /* padding: 4rem 1rem; */
    font-family: Baskerville;
    height: 100vh;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background: #294105d9;
    color: white;
    padding: 1rem 6rem;
}

header p {
    font-size: 32px;
    white-space: nowrap;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background: #2b340a7d;
    border-radius: 5px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    color: black;
    text-align: right;
    padding: 0 1rem;
}

/* main content - common */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
    overflow-y: auto;
    height: 90%;
    font-size: 18px;
    min-width: 300px;
}

/* @media (max-width: 1200px) {
    main {
        padding: 4rem 1rem 8rem;
    }
} */

/* @media (max-width: 768px) {
    main {
        padding: 4rem 1rem 8rem;
    }
} */

h1 {
    margin-bottom: 1rem;
}

h2,
h3 {
    text-align: center;
}

img {
    width: 400px;
    max-width: 100%;
    height: auto;
    margin: 1rem;
}

main ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
}

iframe {
    width: 400px;
    max-width: 100%;
    height: 240px;
    max-height: 100%;
    border: none;
}

/* Home page */
.home-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-image {
    width: 900px;
}

/* Discography page */
.discography-albums-subtitle {
    margin-top: 40px;
}

.discography-albums-subtitle,
.discography-films-subtitle {
    margin-bottom: 40px;
}

.discography-albums,
.discography-films {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.discography-albums-grid,
.discography-films-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.discography-list {
    list-style: none;
    align-items: center;
}

.discography-content a {
    display: flex;
    align-items: center;
    color: #b43807;
}

.discography-content a:hover {
    color: #800000;
}

.discography-content li {
    padding: 10px;
}

.discography-image {
    width: 360px;
    height: 360px;
}

.discography-image-3x2 {
    width: 360px;
    height: 240px;
}

.discography-image-2x3 {
    width: 360px;
    height: 480px;
}

@media (max-width: 768px) {
    .discography-image,
    .discography-image-3x2,
    .discography-image-2x3 {
        width: 240px;
        height: auto;
    }
}

/* recording pages */
.recording-back-button {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #b43807;
    margin-bottom: 60px;
}

.recording-back-button:hover {
    color: #800000;
}

.recording-content {
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .recording-content {
        padding: 0;
    }
}

.recording h1 {
    font-size: 48px;
    margin-bottom: 0;
}

.recording-image-and-description {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.recording-image {
    min-width: 520px;
    width: 520px;
    height: auto;
    object-fit: contain;
    margin: 0;
}

.recording-image-2x3 {
    min-width: 360px;
    width: 360px;
    height: auto;
    object-fit: contain;
    margin: 0;
}

.recording-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recording-artist {
    text-align: left;
}

.recording-label {
    margin-top: 10px;
}

.recording-award {
    margin-top: 40px;
}

.recording-quote {
    margin-top: 20px;
}

.recording-watch {
    margin-top: auto;
    color: #b43807;
}

.recording-watch-2 {
    color: #b43807;
}

.recording-watch a:visited,
.recording-watch a:link,
.recording-watch-2 a:visited,
.recording-watch-2 a:link {
    color: inherit;
}

.recording-watch a:hover,
.recording-watch-2 a:hover {
    color: #800000;
}

@media (max-width: 768px) {
    .recording-content {
        text-align: center;
    }

    .recording-image-and-description {
        flex-direction: column;
        align-items: center;
    }

    .recording-image,
    .recording-image-2x3 {
        width: 240px;
        min-width: 240px;
        height: auto;
    }

    .recording-description {
        align-items: center;
    }

    .recording-quote {
        text-align: left;
    }

    .recording-watch {
        margin-top: 20px;
    }
}

/* Media page */
.media-content a {
    color: #b43807;
}

.media-content a:hover {
    color: #800000;
}

.media-audio-subtitle,
.media-video-subtitle,
.media-photos-subtitle {
    margin-bottom: 10px;
}

.media-audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.media-audio-caption {
    padding: 10px;
}

.media-video-grid,
.media-photos-grid {
    max-width: 1500px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.media-photo,
.media-photo-3x2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-photo img,
.media-photo-3x2 img {
    margin: 1rem 1rem 0 /* remove ? */
}

.media-photo span,
.media-photo-3x2 span {
    font-size: 14px;
}

.media-photo-3x2 {
    width: 360px;
    height: 240px;
}

/* Teaching page */
.teaching-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teaching-content h3 {
    margin-right: auto;
}

.teaching-image {
    width: 520px;
    height: auto;
}

.teaching-section {
    margin-right: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

.teaching-lists {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

@media (max-width: 768px) {
    .teaching-lists {
        flex-direction: column;
    }
}

.teaching-subtitle {
    margin-bottom: 20px;
}

.teaching-50ftf-link,
.teaching-link {
    color: #b43807;
}

.teaching-50ftf-link:hover,
.teaching-link:hover {
    color: #800000;
}

.teaching-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* About page */
.about-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-image-and-bio {
    max-width: 1200px;
    margin-bottom: 30px;
}

.about-image {
    float: right;
    margin: 0 0 10px 15px;
    width: 460px;
    height: auto;
}

@media (max-width: 1200px) {
    .about-content {
        height: auto;
    }

    .about-image {
        margin-bottom: 20px;
    }
}

.about-links {
    display: flex;
    gap: 100px;
}

.about-link {
    color: #b43807;
}

.about-link:hover {
    color: #800000;
}

/* Awards page */
.awards-main {
    display: flex;
    flex-direction: column;
}

.awards-back-button {
    position: absolute;
    left: 100px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #b43807;
    margin-bottom: 60px;
    background-color: #fff;
}

.awards-back-button:hover {
    color: #800000;
}

@media (max-width: 768px) {
    .awards-back-button {
        position: relative;
        left: 0;
        margin-bottom: 20px;
    }
}

.awards-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.awards-subtitle,
.award {
    padding: 1rem;
}

/* Press page */
.press-main {
    display: flex;
    flex-direction: column;
}

.press-back-button {
    position: absolute;
    left: 100px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #b43807;
    margin-bottom: 60px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .press-back-button {
        position: relative;
        left: 0;
        margin-bottom: 20px;
    }
}

.press-back-button:hover {
    color: #800000;
}

.press-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.press-subtitle,
.article {
    padding: 1rem;
}

/* Contact page */
.contact-content {
    max-width: 600px;
    margin: auto;
}

.contact-content input,
.contact-content textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    resize: none;
}

.contact-content button {
    background: #b43807;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.contact-content button:hover {
    background: #800000;;
}

